<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @prop.project_id %>
</p>


<%= link_to 'Edit', edit_project_prop_path(@project, @prop) %> |
<%= link_to 'Back', project_props_path(@project) %>
