<h2>Comments</h2>

<% @project.comments.each do |comment| %>
  <div>
    <h3>
      <%= comment.first_name + ' ' + comment.last_name %>
      <span class='comment-email'>(<%= mail_to(comment.email) %>)</span>
    :
    </h3>
    <p><%= comment.body %></p>
  </div>
<% end %>

<br />

<%= link_to 'New Comment', new_project_comment_path(@project) %>