<div class="show-comments">
<h5>Comments</h5>

<% @project.comments.each do |comment| %>
  <div>
    <p>
      <%= comment.first_name + ' ' + comment.last_name %>
      <span class='comment-email'>(<%= mail_to(comment.email) %>)</span>
    :
    </p>
    <p><%= comment.body %></p>
  </div>
<% end %>

<br />

<%= link_to 'New Comment', new_project_comment_path(@project) %>
</div>